body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header, footer {
    text-align: center;
    padding: 2rem;
    background-color: #2F343B;
    color: white;
    width: 100%;
}

main {
    padding: 1rem;
    max-width: 800px;
    width: 100%;
}

section {
    margin-bottom: 2rem;
}

h2 {
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 0.5rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: white;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

a {
    text-decoration: none;
    color: #4CAF50;
}

a:hover {
    text-decoration: none; 
    color: #C77966;
}

@media (max-width: 600px) {
    body {
        padding: 1rem;
    }

    main {
        padding: 0;
    }
}
